.element__like-btn {
    all : unset;
    width: 21px;
    height: 19px;
    margin-top: 30px;
    background-image: url(/image/like-button.png);
    border: none;
    cursor: pointer;
}

.element__like-btn:hover {
    opacity:0.6;
}

.element__like-btn_active {
    background: url(/image/like-button-fill.png);
}
/*git add . && git commit -m "bugfix/like-btn" */