.form {
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: black;
    position: absolute;
    top: 195px;
    left: 425px;
    display: none;
    z-index: 9;

}

.form__title {
    width: 330px;
    height: 23px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 34px;
    margin: 0;
}

.form__input {
    width: 90%;
    margin: 20px 0 36px 34px;
    border: none;
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
.form__input:focus {
    outline: none;
  }

.form__submit-btn {
    all: unset;
    width: 358px;
    height: 50.15px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 36px;
    margin-top: 36px;
    cursor: pointer;
}

.form__close-btn {
    all: unset;
    position: absolute;
    bottom: 340px;
    left: 430px;
    width: 40px;
    cursor: pointer;
    border: none;
}

.form__line {
    width: 358px;
    height: 0px;
    left: 461px;
    top: 390.34px;
    opacity: 0.2;
    border: 1px solid #000000;
  }

.form__submit-btn:hover, .form__close-btn:hover {
    opacity: .8;
  }

  @media screen and (max-width: 320px) { 
    .form__{ 
        position: absolute;
        top: 20px;
        left: 0px;
        width: 282px;
    }

    .form__close-btn {
        position: absolute;
        bottom: 340px;
        left: 230px;
        width: 26px; 
    }

    .form__submit-btn {
        width: 238px;
        margin-left: 22px;
        margin-top: 46px;
    }

    .form__input {
        width: 80%;   
        }

     .form__line {
       width: 238px;
       }

  }

