.profile {
    color: #f2f2f2;
    display: inline-flex;
    height: 120px;
    width: 880px;
    margin: 41px auto auto 200px;
}

@media screen and (max-width: 320px) {
    .profile {
        display: flex;
        flex-direction: column;
        height: 286px;
        width: 282px;
        margin-left: 19px;
        position: relative;
        margin-bottom: 36px;
    }
    }