.element__delete {
    all : unset;
    width: 18px;
    height: 19px;
    background-image: url("../../../../image/delete-btn.svg");
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    }
    
    .element__delete:hover {
        opacity:0.6;
    }