.profile__info_name {
    font-size: 42px;
    margin-top: 22px;
    line-height: 48px;
    margin-bottom: 16px;
}

@media screen and (max-width: 320px) {
    .profile__info_name {
        margin-top: 0px;
        font-size: 22px;
        line-height: 22px;
        width: 220px;
    }
    }