.profile__rectangle-add-btn {
    margin-top: 15px;
    margin-left: 65px;
 }

 .profile__add-btn {
    all: unset;    
}


@media screen and (max-width: 320px) {
    .profile__rectangle-add-btn {
        position: absolute;
        left: 60px;
    }
    }