.edit-profile {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-top: 36px;
    padding-left: 34px;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  .form-popup {
    display: none;
    position: absolute;
    top: 184px;
    left: 410px;
    z-index: 9;
  }
  
  .form-container {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  
  .form-container input[type=text], .form-container input[type=text] {
    width: 90%;
    margin: 0px 0 36px 34px;
    border: none;
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=text]:focus {
    outline: none;
  }
  
  .form-container .btn {
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 358px;
    opacity: 1;
    margin-left: 34px;
    margin-top: 36px;
  }
  
  .form-container .cancel {
    position: absolute;
    bottom: 300px;
    left: 400px;
    width: 40px;
    background-color: none;
    }
  
  .form-container .btn:hover, .cancel {
    opacity: .8;
  }

  .form__line {
    width: 358px;
    height: 0px;
    left: 461px;
    top: 390.34px;
    opacity: 0.2;
    border: 1px solid #000000;
  }