.profile__edit-form {
  display: none;
  position: absolute;
  top: 184px;
  left: 410px;
  z-index: 9;
  width: 430px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.profile__edit-form-input {
    width: 90%;
    margin: 20px 0 36px 34px;
    border: none;
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
.profile__edit-form-input:focus {
    outline: none;
  }

  .profile__edit-form-line {
    margin-bottom: 0;
  }

  .profile__edit-form-input-eror {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-left: 36px;
  }
  
.profile__edit-submit-btn { 
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 358px;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    left: 0;
    margin-left: 36px;
  }

  .profile__edit-submit-btn-disabled {
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 358px;
    position: absolute;
    bottom: 30px;
    left: 30;
    margin-left: 36px;
    opacity: 0.2;
  }
  
  .profile__edit-close-btn {
    position: absolute;
    bottom: 340px;
    left: 430px;
    width: 40px;
    background-color: #000;
    cursor: pointer;
    border: none;
    }
  
  .profile__edit-submit-btn:hover, .profile__edit-close-btn:hover {
    opacity: .8;
  }

  .profile__edit-form-line {
    width: 358px;
    height: 0px;
    left: 461px;
    top: 390.34px;
    opacity: 0.2;
    border: 1px solid #000000;
  }

  .profile__edit-form-title {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-top: 36px;
    padding-left: 34px;
}
  
  @media screen and (max-width: 320px) {
    .profile__edit-form {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 282px;
        height: 322px;
      }

      .profile__edit-submit-btn {
        width: 238px;
        margin-left: 22px;
        margin-top: 46px;
      }

  
      .profile__edit-form-line {
        width: 238px;
      }

      .form__close_btn {
        all: unset;
        position: absolute;
        bottom: 325px;
        left: 240px;
        width: 26px;
        }

    .profile__edit-form-title {
        padding-top: 25px;
        padding-left: 22px;
        }

    .profile__edit-form-input {
        width: 80%;   
        }

    .profile__edit-close-btn {
        position: absolute;
        bottom: 340px;
        left: 230px;
        width: 26px; 
      }
}