.form {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  
  .form__input {
    width: 90%;
    margin: 20px 0 36px 34px;
    border: none;
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
  .form__input:focus {
    outline: none;
  }
  
  .form__submit_btn {
    
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 358px;
    opacity: 1;
    position: absolute;
    bottom: 40px;
    left: 30;
    margin-left: 36px;
  }
  
  .form__close_btn {
    position: absolute;
    bottom: 340px;
    left: 430px;
    width: 40px;
    background-color: #000;
    cursor: pointer;
    border: none;
    }
  
  .form__submit_btn:hover, .form__close_btn:hover {
    opacity: .8;
  }

  .form__line {
    width: 358px;
    height: 0px;
    left: 461px;
    top: 390.34px;
    opacity: 0.2;
    border: 1px solid #000000;
  }

  .form__edit_profile {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-top: 36px;
    padding-left: 34px;
}
  
  .edit__form {
    display: none;
    position: absolute;
    top: 184px;
    left: 410px;
    z-index: 9;
  }
  