.element {
    height: 361px ;
    width: 282px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.element__caption_container {
    display: flex;
    justify-content: space-between;
    width: 270px;
}